.body{
    display: flex;
    margin: 0px;
    width: 100%;
    background-color: rgb(3, 3, 3);
}
.geral{
    display: flex;
    width: 100%;
    background:
     linear-gradient(90deg, rgba(17, 17, 17, 0.732), rgba(254, 254, 254, 0.045), rgba(3, 3, 3, 0.849)
     ),url('../../assets/present.jpg') no-repeat;
     background-size: 100% 90%;
    margin-bottom: 5vh;
    margin-top: 8vh;
}

.sideleft{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 87vh;
    background-color: rgba(252, 252, 252, 0);
}
.banner{
    width: 100%;
    height: 30%;
}
.sideringt{
    display: flex;
    width: 30%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
}

.log{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vh;
    height: 60%;
    border-radius: 12px;
    background-color: rgba(211, 211, 211, 0.229);
}

.inpemail{
    width: 35vh;
    height: 50%;
    border-radius:8px;
    text-align:center;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
}
.inpsenha{
    width: 35vh;
    height: 50%;
    border-radius:8px;
    text-align:center;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
}
.textlog{
    font-size: 20px;
    color: black;
    margin-bottom: 30px;
}
.bntlog{
    width: 90%;
    height: 10%;
    border-radius:8px;
    text-align:center;
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
}

#boxselet{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(0deg,#19191948,#f9f9f917);
    margin-top: 50px;
    padding: 10px;
    width: 80%;
    height: 50%;
    
}
#btnselet{
    text-align: center;
    width: 50%;
    height: 45px;
    color: rgb(12, 12, 12);
    border-width: 1;
    font-size: 20px;
    border-color: #b8680000;
    margin-top: 50px;
    background-color: aliceblue;
    background: linear-gradient(120deg,#ff9100,#b86800 );
}
#titleselet{
    font-size: 30px;
}

#textselet{
    font-size: 18px;
}
